* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    min-height: calc(100% - 0px);
}

body {
    min-height: 100vh;
}

em,
i {
    font-style: normal;
}

ul,
li,
a {
    list-style: none;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none !important;
}

select,
input,
button {
    border: 0;
}